/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: inter;
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    --font1: 12px;
    --font2: 14px;
    --font3: 16px;
    --font4: 18px;
    --font5: 20px;
    --font6: 24px;
    --font7: 30px;
    --font8: 36px;
    --font9: 48px;
    --font10: 60px;

    --space1: 10px;
    --space2: 15px;
    --space3: 20px;
    --space4: 25px;
    --space5: 30px;
    --space6: 40px;
    --space7: 50px;
    --space8: 60px;
    --space9: 100px;

    --rad1: 5px;
    --rad2: 10px;
    --rad3: 15px;
    --rad4: 20px;
    --rad5: 25px;
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: inter;
}
h1{
    font-size: var(--font10);
    text-align: center;
    margin-bottom: var(--space8);
}
h2{
    font-size: var(--font9);
    margin-bottom: var(--space8);
}
h3{
    font-size: var(--font8);
}
h4{
    font-size: var(--font7);
}
h5{
    font-size: var(--font6);
}
h6, p, a{
    font-size: var(--font5);
}
body{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #f8f8f8;
    color: #333;
    overflow-x: hidden;
}
header,main,footer{
    width: 100%;
    overflow-x: hidden;
}
header{
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}
footer{
    background: black;
}
.section {
    padding: var(--space5) var(--space8);
    width: 100%;
}
.header_section {
    padding: var(--space3) var(--space8);
}
.container{

}
.header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.link {
    color: black;
}
.logo_link {
}
.logo{
    width: var(--space8);
    height: var(--space8);
}
.header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--space3);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav-link {
}
.nav-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: var(--space2) var(--space5);
    border-radius: var(--rad1);
    background: black;
    color: white;
    border: 2px solid white;
    outline: none;
    font-size: var(--font4);
    -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.nav-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.user-ico {
    width: var(--space8);
    height: var(--space8);
    border-radius: 50%;
    display: block;
    border: 1px solid #333;
    -o-object-fit: cover;
       object-fit: cover;
}

.search_section {
}
.search_container {
}
.search_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--space5);
}
.search_box{
    display: -ms-grid;
    display: grid;
    width: 100%;
    gap: var(--space5);
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.form-label {
    width: 100%;
    padding: 2px;
    z-index: 1;
    position: relative;
}
.form-input {
    width: 100%;
    padding: var(--space2);
    border-radius: var(--rad1);
    background: none;
    border: 1px solid #333;
    outline: none;
    font-size: var(--font4);
    position: relative;
    display: block;
    cursor: default;
    overflow: hidden;
    background: white;
    -webkit-transition: background 0.2s, -webkit-transform 0.2s;
    transition: background 0.2s, -webkit-transform 0.2s;
    -o-transition: background 0.2s, transform 0.2s;
    transition: background 0.2s, transform 0.2s;
    transition: background 0.2s, transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.form-input:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.form-input:active, .form-input:focus-visible{
    background: coral;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.form-butn {
    padding: var(--space2) var(--space5);
    border-radius: var(--rad1);
    background: black;
    color: white;
    border: 2px solid white;
    outline: none;
    font-size: var(--font4);
    -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
}
.form-butn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: drop-shadow(0 0 5px coral) invert();
            filter: drop-shadow(0 0 5px coral) invert();
}
.destinations_section {
}
.destinations_container {
}
.destinations_box {
    width: 100%;
    display: -ms-grid;
    display: grid;
    gap: var(--space5);
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.destination-card {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--rad1);
    position: relative;
    border: 1px solid #333;
}
.destination-shadow {
    border-top-left-radius: var(--rad1);
    border-top-right-radius: var(--rad1);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(255, 255, 255, 0.75)));
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.75) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.75) 100%);
}
.destination-info {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: var(--space5);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr var(--space2) 1fr var(--space2) auto var(--space2) 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    color: #333;
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: var(--space2);
    border-bottom-left-radius: var(--rad1);
    border-bottom-right-radius: var(--rad1);
}
.destination-info > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.destination-info > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.destination-info > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.destination-info > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
}
.destination-title {
}
.destination-text {
}
.destination-price {
    font-size: var(--font7);
    font-weight: 600;
    -ms-grid-column-align: end;
        justify-self: end
}
.destination-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: var(--space2) var(--space5);
    border-radius: var(--rad1);
    background: none;
    color: #333;
    border: 2px solid #333;
    outline: none;
    font-size: var(--font4);
    -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.destination-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.destination-favorite {
    position: absolute;
    width: var(--space6);
    height: var(--space6);
    top: var(--space1);
    right: var(--space1);
    -o-object-fit: contain;
       object-fit: contain;
}
.places_section {
}
.places_container {
}
.places_box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: var(--space5);
}
.place-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: var(--space5);
}
.place-card:nth-child(2n){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.place-card:nth-child(2n) .place-info{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.place-img {
    width: 60%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid #333;
    border-radius: var(--rad1);
    height: 400px;
}
.place-info {
    padding: var(--space8) 0px;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 15px 1fr 15px auto;
    grid-template-rows: auto 1fr auto;
    gap: 15px;
}
.place-info > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.place-info > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}
.place-info > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
}
.place-title {
}
.place-text {
}
.place-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: var(--space2) var(--space5);
    border-radius: var(--rad1);
    background: black;
    color: white;
    border: 2px solid white;
    outline: none;
    font-size: var(--font4);
    -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.place-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.footer_section {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--space5);
}
.footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--space3);
}
footer .nav-link{
    color: white;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
footer .nav-link:hover{
    color: coral;
}
.footer_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: var(--space3);
}
.footer-title {
}
.footer-text {
    font-size: var(--font2);
    color: white;
}
.reg_form .form-label, .reg_form .form-input{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.reg_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: var(--space5);
}
.popup {
    position: absolute;
    padding: var(--space5);
    border: 1px solid #333;
    border-radius: var(--rad3);
    top: -100vh;
    max-width: 300px;
    background: #f8f8f8;
    -webkit-box-shadow: 0 0 var(--rad3) rgba(0, 0, 0, 0.473);
            box-shadow: 0 0 var(--rad3) rgba(0, 0, 0, 0.473);
    -webkit-animation: pop 5s;
            animation: pop 5s;
}
.popup-close {
    position: absolute;
}
.user_section {
}
.user_container {
}
.user_form {
    max-width: 979px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    border: 1px solid #333;
    margin: 0 auto;
    padding: var(--space5);
    border-radius: var(--rad2);
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user_data {
    width: 50%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: var(--space3);
}

.user-line {
}
.input-user{
    display: flex;
    border: 1px solid #000;
border-radius: 152px;
max-width: 435px;
width: 100%;
height: 55px;
background: #fff;
font-family: var(--third-family);
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #000;
padding-left: 10px;
padding-right: 10px;
}
.input-user button{
    background: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.input-btn{
    border: none;
    background-color: #fff;
}
.user-text {
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    color: #9d9d9d;
}
.user_photo{
    display: flex;
    flex-direction: column;
}
.user-pic {
    display: flex;
    max-width: 294px;
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: var(--rad1);
    -o-object-fit: cover;
       object-fit: cover;
}
.user-img{
    display: flex;
}
.user-span{
    display: flex;
}
.delete-btn{
    display: flex;
    border: none;
    max-width: 374px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--third-family);
font-weight: 600;
font-size: 24px;
line-height: 150%;
color: #000;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.user-btn, .input-file span{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-column-align: end;
        justify-self: end;
    padding: var(--space2) var(--space5);
    border-radius: var(--rad1);
    background: black;
    color: white;
    border: 2px solid white;
    outline: none;
    font-size: var(--font4);
    -webkit-transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    transition: -webkit-filter 0.2s, -webkit-transform 0.2s;
    -o-transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s;
    transition: filter 0.2s, transform 0.2s, -webkit-filter 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.user-btn:hover, .input-file span:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.input-file input{
    display: none;
}
.input-file{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.favor_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space7);
}

table{
    border-radius: var(--rad1);
    border: 1px solid #333;
    color: black;
}
th{
    color: white;
}
th, td{
    padding: var(--space1);
}
tr:nth-child(1){
    background: #333;
}
tr:nth-child(2n){
    color: white;
    background: #333333a1;
}
td:nth-child(2n), th:nth-child(2n){
    background: #333333a1;
    color: white;
}
th {
    cursor: pointer;
}
th.sort-asc::after {
    content: " \u25B2"; /* Черный треугольник вверх */
}
th.sort-desc::after {
    content: " \u25BC"; /* Черный треугольник вниз */
}
@-webkit-keyframes pop {
    0%{
        top: -100vh;
    }
    10%{
        top: calc(var(--rad3)*2);
    }
    90%{
        top: calc(var(--rad3)*2);
    }
    100%{
        top: -100vh;
    }
}
@keyframes pop {
    0%{
        top: -100vh;
    }
    10%{
        top: calc(var(--rad3)*2);
    }
    90%{
        top: calc(var(--rad3)*2);
    }
    100%{
        top: -100vh;
    }
}
@media (max-width:1440px) {
    :root{
        --font1: 10px;
        --font2: 12px;
        --font3: 14px;
        --font4: 16px;
        --font5: 18px;
        --font6: 20px;
        --font7: 24px;
        --font8: 30px;
        --font9: 36px;
        --font10: 48px;
    }
    .search_box{
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
}
@media (max-width:768px) {
    :root{
        --font1: 8px;
        --font2: 10px;
        --font3: 12px;
        --font4: 14px;
        --font5: 16px;
        --font6: 18px;
        --font7: 20px;
        --font8: 24px;
        --font9: 30px;
        --font10: 36px;
    
        --space1: 5px;
        --space2: 10px;
        --space3: 15px;
        --space4: 20px;
        --space5: 25px;
        --space6: 30px;
        --space7: 40px;
        --space8: 50px;
        --space9: 60px;
    }
    .search_box{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .search_box > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .search_box > *:nth-child(2){
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .search_box > *:nth-child(3){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .search_box > *:nth-child(4){
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .destinations_box {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .place-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .place-card:nth-child(2n){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .place-img, .place-info {
        width: 100%;
    }
    .place-btn {
        -ms-grid-column-align: end;
            justify-self: end;
    }
    .footer_section, .footer_nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .user_form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .user_data {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .user_photo {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .user_photo > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .user_photo > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .user_photo > *:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .user_photo > *:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .user-pic {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2;
        -ms-grid-column: 1;
        grid-column: 1;
        width: 100%;
        height: calc(200% + var(--space3));
    }
    .user-btn {
        -ms-grid-row: 2;
        grid-row: 2;
        -ms-grid-column: 2;
        grid-column: 2;
    }
    .input-file{
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 2;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:320px) {
    :root{
        --font1: 6px;
        --font2: 8px;
        --font3: 10px;
        --font4: 12px;
        --font5: 14px;
        --font6: 16px;
        --font7: 18px;
        --font8: 20px;
        --font9: 24px;
        --font10: 30px;
    
        --space1: 2px;
        --space2: 5px;
        --space3: 10px;
        --space4: 15px;
        --space5: 20px;
        --space6: 25px;
        --space7: 30px;
        --space8: 40px;
        --space9: 50px;
    }
    .user-pic {
        height: 200%;
    }
}